._*
*.mode1v3
*.pbxuser
*.perspectivev3
*.user
*.ncb
*.suo
*.ilk
*.pch
*.pdb
*.dep
*.idb
*.manifest
*.manifest.res
*.o
*.d
*.sdf
*.opensdf
*.VC.db
*.VC.opendb
xcuserdata
*.xccheckout
*.xcscmblueprint
*.xcscheme
contents.xcworkspacedata
.DS_Store
.svn
.deps
.dirstamp
profile
**/MacOSX/build
**/iOS/build
**/IDEWorkspaceChecks.plist
**/Linux/build
**/LinuxMakefile/build
**/VisualStudio[0-9]*/Win32
**/VisualStudio[0-9]*/x64
**/Builds/x64
**/.vs
**/CodeBlocks/bin
**/CodeBlocks/obj
**/CodeBlocks/*.depend
**/CodeBlocks/*.layout
**/Builds/Android/.gradle
**/Builds/Android/.idea
**/Builds/Android/build
**/Builds/Android/**/*.iml
**/Builds/Android/local.properties
**/Builds/Android/app/build
**/Builds/Android/app/.externalNativeBuild
**/Builds/Android/app/.cxx
**/Builds/Android/lib/build
**/Builds/Android/lib/.externalNativeBuild
**/Builds/MacOSX/**/Index
**/Builds/MacOSX/**/Intermediates.noindex
**/doxygen/doc
**/doxygen/build
**/.idea

.idea
**/cmake-build*

.vscode
/build

CMakeUserPresets.json

Projucer.app
extras/Projucer/JUCECompileEngine.dylib
extras/Projucer/Builds
extras/Projucer/Builds/MacOSX/Projucer.xcodeproj/project.pbxproj


/examples
/extras/Projucer/Builds
examples/DemoRunner/Builds/Android/app/src/main/res/drawable-hdpi/icon.png
examples/DemoRunner/Builds/Android/app/src/main/res/drawable-ldpi/icon.png
examples/DemoRunner/Builds/Android/app/src/main/res/drawable-mdpi/icon.png
examples/DemoRunner/Builds/iOS/DemoRunner/Images.xcassets/AppIcon.appiconset/Icon-29.png
examples/DemoRunner/Builds/iOS/DemoRunner/Images.xcassets/AppIcon.appiconset/Icon-29@2x.png
examples/DemoRunner/Builds/iOS/DemoRunner/Images.xcassets/AppIcon.appiconset/Icon-29@3x.png
examples/DemoRunner/Builds/iOS/DemoRunner/Images.xcassets/AppIcon.appiconset/Icon-60@2x.png
examples/DemoRunner/Builds/iOS/DemoRunner/Images.xcassets/AppIcon.appiconset/Icon-76.png
examples/DemoRunner/Builds/iOS/DemoRunner/Images.xcassets/AppIcon.appiconset/Icon-76@2x.png
examples/DemoRunner/Builds/iOS/DemoRunner/Images.xcassets/AppIcon.appiconset/Icon-83.5@2x.png
examples/DemoRunner/Builds/iOS/DemoRunner/Images.xcassets/AppIcon.appiconset/Icon-@3x.png
examples/DemoRunner/Builds/iOS/DemoRunner/Images.xcassets/AppIcon.appiconset/Icon-Notification-20@2x.png
examples/DemoRunner/Builds/iOS/DemoRunner/Images.xcassets/AppIcon.appiconset/Icon-Notification-20@3x.png
examples/DemoRunner/Builds/iOS/DemoRunner/Images.xcassets/AppIcon.appiconset/Icon-Notifications-20.png
examples/DemoRunner/Builds/iOS/DemoRunner/Images.xcassets/AppIcon.appiconset/Icon-Notifications-20@2x.png
examples/DemoRunner/Builds/iOS/DemoRunner/Images.xcassets/AppIcon.appiconset/Icon-Small-1.png
examples/DemoRunner/Builds/iOS/DemoRunner/Images.xcassets/AppIcon.appiconset/Icon-Small@2x-1.png
examples/DemoRunner/Builds/iOS/DemoRunner/Images.xcassets/AppIcon.appiconset/Icon-Spotlight-40.png
examples/DemoRunner/Builds/iOS/DemoRunner/Images.xcassets/AppIcon.appiconset/Icon-Spotlight-40@2x-1.png
examples/DemoRunner/Builds/iOS/DemoRunner/Images.xcassets/AppIcon.appiconset/Icon-Spotlight-40@2x.png
examples/DemoRunner/Builds/iOS/DemoRunner/Images.xcassets/AppIcon.appiconset/Icon-Spotlight-40@3x.png
examples/DemoRunner/Builds/VisualStudio2019/icon.ico
examples/DemoRunner/Builds/VisualStudio2022/icon.ico
